<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT Attendance</title>
    <style>
        body {
            background: linear-gradient(135deg, #fc5c7d, #6a82fb);
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .content {
            text-align: center;
        }

        iframe {
            width: 380px;
            height: 640px;
            border: none;
        }
    </style>
</head>
<body>
    <div class="content">
        <center><h2>Welcome To IOT Attendance Page</h2></center>
        <!-- Welcome page content goes here -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWuDQV-SwgtHEbiJ0AtEzbdltLxe29i4-LL1j06jk5IWncfw/viewform?embedded=true"></iframe>
    </div>

    <script>
        setTimeout(function() {
            document.body.style.display = "none";
        }, 20000); // Hides the page after 20 seconds (20,000 milliseconds)
    </script>
</body>
</html>
